* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
    background: linear-gradient(to right, #10002B, #3c096c); 
    font-family: "Poppins", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.center {
    text-align: center;
}

.webintroo img{
    position: absolute;
    top:20%;
    left:25%;
    width: 50%;
    height: auto;
    animation: fadeinSlideRight 4s ease forwards;
}
.start button{
    background: linear-gradient(to right, #070012, #240343);
    padding: 1.5%;
    width: 10%;
    position: absolute; 
    top: 77%;
    left: 45%;
    border-radius: 20px;
    text-decoration: none;
    animation: fadein 6s ease 0s 1  forwards;
    font-size: 1.2rem;
    border: none;
    box-shadow: 0 0 10px rgba(109, 22, 191, 0.8); 
    transition: box-shadow 0.3s ease;
    
}
.start button:hover{
    transform: scale(1.3);
    transition: 2s;
    box-shadow: 0 0 20px rgba(109, 22, 191, 1.0), 0 0 30px rgba(109, 22, 191, 0.8); /* Stronger glow on hover */
}
.start button a {
    text-decoration: none;
    color: aliceblue;
}
.navbar{
    background: linear-gradient(#7b2cbf,#c77dff);
    padding-inline: 60px;
}




@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 2;
    }
}

@keyframes slideup {
   from{
        transform: translateY(0%);
   }
   to{
        transform: translateY(-100%);
   } 
}
@keyframes fadeinSlideRight {
    from{
        opacity: 0;
        transform: translateX(-50%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
/* responsive media queries*/
@media (max-width: 480px) {
    .webintroo img {
      top: 37%;
      left: 1.9%;
      width: 100%;
    }
    .start button {
      width: 50%;
      left: 25%;
      font-size: 1.1rem;
      padding: 3%;
    }
  }
  /* Laptops (481px to 1024px) */
@media (min-width: 481px) and (max-width: 1024px) {
    .webintroo img {
      top: 40%;
      left: 14%;
      width: 70%;
    }
    .start button {
      width: 30%;
      left: 35%;
      font-size: 1.5rem;
      padding: 1.5%;
    }
  }
  /* Desktops (1025px and above) */
@media (min-width: 1025px) {
    .webintroo img {
      top: 13%;
      left: 20%;
      width: 60%;
    }
    .start button {
      width: 20%;
      left: 40%;
      font-size: 1.2rem;
      padding: 1.5%;
    }
  }
