* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
    background: linear-gradient(to right, #10002B, #3c096c); 
    font-family: "Poppins", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    overflow: hidden;
}
.center {
    text-align: center;
}

.ideaLogo img {
    position: absolute; 
    top: 50%; 
    left: 40%;
    width: 20%;  
    height: 40%; 
    margin-bottom: 3px; 
    animation: slideup 3.5s ease 0s 1 alternate both, fadein 4s ease 0s 1 alternate both;

}

.header img {
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 40%;  
    height: auto;  
    margin-bottom: 10px;
    animation: slideright 4.5s ease 0s 1 alternate both, fadein 4s ease 0s 1 alternate both;
}
.tagline img{
    position: absolute; 
    width: 18%;
    height: auto;
    top: 63%; 
    left: 50%;
    animation: tagup 4.5s ease 0s 1 forwards, fadein 4s ease 0s 1 alternate both;
}
.start button{
    background: linear-gradient(to right, #070012, #240343);
    padding: 1%;
    width: 10%;
    position: absolute; 
    top: 75%;
    left: 45%;
    border-radius: 20px;
    text-decoration: none;
    animation: fadein 6s ease 0s 1  forwards;
    font-size: 110%;
    border: none;
    box-shadow: 0 0 10px rgba(109, 22, 191, 0.8); 
    transition: box-shadow 0.3s ease;
    
}
.start button:hover{
    transform: scale(1.3);
    transition: 2s;
    box-shadow: 0 0 20px rgba(109, 22, 191, 1.0), 0 0 30px rgba(109, 22, 191, 0.8); /* Stronger glow on hover */
}
.start button a {
    text-decoration: none;
    color: aliceblue;
}
.navbar{
    background: linear-gradient(#7b2cbf,#c77dff);
    padding-inline: 60px;
}




@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 2;
    }
}

@keyframes slideup {
   from{
        transform: translateY(0%);
   }
   to{
        transform: translateY(-100%);
   } 
}
@keyframes slideright {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(-50%);
        
    }
}
@keyframes tagup {
    from{
        transform: translateX(-150%);
    }
    to{
        transform: translateX(-50%)
    }
}

